.clearfix:after{
  content: "";
  display: block;
  clear:both;
}

body {
  font-family: 'FontAwesome','Lato';
  min-width: 1200px;
}

header{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  z-index: 30;
}

.header_inner{
  max-width: 75%;
  margin: 0 auto;
}

header .fa-bolt{
  margin: 15px 0;
  float: left;
  color: #4e4e4e;
}

header .contact{
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  background-color: #74cfae;
  float: right;
  margin-top: 10px;
}
/*---------------------------*/
.theme{
  background-color: #f2f2f2;
}

.theme .main_theme{
  font-size: 90px;
  font-weight: 700px;
  color: #74cfae;
  padding-top: 250px;
  text-align: center;
}

.theme .sub_theme{
  font-size: 30px;
  color: #c0c0c0;
  padding-bottom: 250px;
  text-align: center;
}

/*---------------------------*/

.green{
  background-color: #74cfae;
  height: 345px;
  text-align: center;
}

.green_inner{
  display: inline-block;
}

.green .img_green{
  margin-top: 50px;
  margin-left: 100px;
  float: left;
}

.green_right{
  float: right;
  padding-left: 20px;
}

.green_title{
  margin-top: 50px;
  font-size: 24px;
  color: #fff;
  margin-bottom: 35px;
  text-align: center;
  font-family:'Raleway';
}

.green_text{
  font-size: 20px;
  color: #fff;
  width: 750px;
  text-align: center;
}

/*---------------------------*/
.work{
  background-color: #f2f2f2;
}

.work_title{
  text-align: center;
  font-size: 24px;
  padding: 60px 0 40px 0;
  color: #4e4e4e;
}

.img_work{
  margin-left: 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.img_work:hover{
  opacity: 1.0;
}

.img_work:first-child{
  margin-left: 0px;
}

.img_top{
  text-align: center;
}

.img_bottom{
  text-align: center;
}

.img_top .img_work{
  margin-bottom: 80px;
}

.img_bottom .img_work{
  margin-bottom: 90px;
}

.work_bottom{
  margin: 0 auto;
}

.work_text{
  margin: 0 90px 70px 300px;
  width: 580px;
  float: left;
  font-size: 20px;
  color: #4e4e4e;
  text-align: center;
}

.mail_button{
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  float: left;
  transition: 0.3s;
}

.mail_button:hover{
  color: #333;
}

/*---------------------------*/

.skill{
  background-color: #4e4e4e;
  text-align: center;
  width: 100%;
}

.skill_title{
  color: #fff;
  padding-top: 70px;
  font-size: 20px;
}

.main_skill{
  display: inline-block;
}

.caption{
  padding-left: 180px;
  padding-top: 50px;
  padding-bottom: 100px;
  float: left;
}

.caption:first-child{
  padding-left: 0px;
}

.caption-text{
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

/*---------------------------*/

.main_sns{
  background-color: #f2f2f2;
  height: 500px;
  width: 100%;
  text-align: center;
}

.sns_icon{
  display: inline-block;
}

.main_sns .fab{
  color: #74cfae;
  margin: 200px 0;
  float: left;
  size: 5;
  transition: 0.3s;
  padding:40px 0;
  width: 185px;
  text-align: center;
}

.main_sns .fas{
  color: #74cfae;
  margin: 200px 0;
  float: left;
  transition: 0.3s;
  padding:40px 0;
  width: 185px;
  text-align: center;
}

.main_sns .fab:hover{
  background-color: #fff;
}

.main_sns .fas:hover{
  background-color: #fff;
}

/*---------------------------*/

.footer_main{
  background-color: #74cfae;
  position: relative;
  height: 60px;
}

.footer_kigyo{
  position: absolute;
  right: 150px;
}

.footer_text1{
  color: #fff;
  font-size: 16px;
  padding-top: 20;
  padding-bottom: 25px;
  margin-top: 20px;
  float: right;
}

.footer_text2{
  color: #fff;
  font-size: 16px;
  padding-top: 20;
  padding-bottom: 25px;
  margin-top: 20px;
  float: right;
}

.fa-heart{
  color: #fff;
  font-size: 16px;
  padding-top: 20;
  padding-bottom: 25px;
  margin-top: 20px;
  float: right;
}